<div>
  <h1>New post</h1>

  <label for="title">
    Title:
    <input #inputs type="text" name="title" id="title" placeholder="Insert interesting title..." [(ngModel)]="newTitle"
      (ngModelChange)="checkInputs()">
  </label>

  <label for="author">
    Author:
    <input #inputs type="text" name="author" id="author" placeholder="Insert great person.." [(ngModel)]="newAuthor"
      (ngModelChange)="checkInputs()">
  </label>

  <button #createBtn (click)="createPost()"> {{textCreateBtn}} </button>
</div>